{% extends "base.html" %}
{% block css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <style>
        .container {
            max-width: 1170px;
            margin: auto;
        }

        .inbox_msg {
            border: 1px solid #c4c4c4;
            clear: both;
            overflow: hidden;
        }

        .received_msg {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
        }

        .received_withd_msg p {
            background: #ebebeb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }

        .received_withd_msg {
            width: 57%;
        }

        .mesgs {
            float: left;
            padding: 30px 15px 0 25px;
            width: 100%;
        }

        .sent_msg p {
            background: #05728f none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: #fff;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }

        .outgoing_msg {
            overflow: hidden;
            margin: 26px 0 26px;
        }

        .sent_msg {
            float: right;
            width: 46%;
        }

        .input_msg_write input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
        }

        .type_msg {
            border-top: 1px solid #c4c4c4;
            position: relative;
        }

        .msg_send_btn {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
        }

        .messaging {
            padding: 0 0 50px 0;
        }

        .msg_history {
            height: 516px;
            overflow-y: auto;
            vertical-align: bottom;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card-header" id="header">Chat Room {{ room_name }}</div>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history" id="msg_history"></div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message" id="chat-message-input"/>
                            <button class="msg_send_btn" type="button" id="chat-message-submit">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        let currentUser = {
            id: {{ user.id }},
            username: "{{ user.username }}",
        };
        var node = document.querySelector('#msg_history');
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '{% url "messages" room_id %}');

        xhr.onload = function() {
            if (xhr.status === 200) {
                const data = JSON.parse(xhr.responseText);
                for (let i = 0; i < data.message.length; i++) {
                    if (data.message[i].user === currentUser.id) {
                        node.innerHTML += `
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                <p><b>${data.message[i].username}</b><br><b style="font-size: large">${data.message[i].message}</b></p>
                                </div>
                            </div>`
                    } else {
                        node.innerHTML += `
                            <div class="incoming_msg">
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p><b>${data.message[i].username}</b><br><b style="font-size: large">${data.message[i].message}</b></p>
                                    </div>
                                </div>
                            </div>`
                    }
                }
            }
        };
        xhr.send();
        var myVariable = document.getElementById('header').textContent;
        let room_name = myVariable.split(' ')[2];
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + {{ room_id }}
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.message.user_name === currentUser.username) {
                node.innerHTML += `
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p><b><i>${data.message.user_name}</i></b><br><b style="font-size: large">${data.message.text}</b></p>
                        </div>
                    </div>`
            } else {
                node.innerHTML += `
                    <div class="incoming_msg">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p><b><i>${data.message.user_name}</i></b><br><b style="font-size: large">${data.message.text}</b></p>
                            </div>
                        </div>
                    </div>`
            }
        };

        var input = document.getElementById('chat-message-input');
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("chat-message-submit").click();
            }
        });

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user_name': currentUser.username,
                    'user_id': currentUser.id
                }));
                messageInputDom.value = '';
                document.querySelector('#chat-message-input').focus()
            }
        };

    </script>
{% endblock %}
